.Main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.content {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 1000px;
}