.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
}

img {
    width: 35px;
    height: auto;
}

.search {
    width: 45%;
    height: 35px;
    background-color: #f6f7f8;
    border-radius: 4px;
    border: 1px solid #edeff1;
    color: #1c1c1c;
    display: flex;
    align-items: center;
}

input {
    border: none;
    background-color: #f6f7f8;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    color: #1c1c1c;
}

.saved-button {
    display: flex;
    justify-content: center;
}

.saved-posts {
    border: 1px solid #0079d3;
    padding: 5px 30px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 20px;
    color: #0079d3;
    font-weight: 600;
}

.saved-posts:hover {
    background-color: rgba(0,0,0,0.04);
}

.sign-up-button {
    margin-left: 7.5px;
    background-color: #0079d3;
    color: white;
    padding: 5px 30px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 20px;
    font-weight: 600;
}

.sign-up-button:hover {
    background-color: #42adf0;
}

@media only screen and (max-width: 800px) {
    .saved-posts {
        padding: 5px 10px;
    }
    .logo-text {
        display: none;
    }
    .Header {
        height: 50px;
    }
}