.Filters {
    border: 1px solid #ccc;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
}

.left {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    align-items: center;
}

.right {
    display: flex;
    gap: 10px;
    padding-right: 10px;
    align-items: center;
}

.hot {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    color: #878a8c;
}

.selected {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    background-color: #f6f7f8;
    color: #0079d3;
}

.hot:hover {
    background-color: #e5e6e7;
}

.new {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #878a8c;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.new:hover {
    background-color: #e5e6e7;
}

.top {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #878a8c;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.top:hover {
    background-color: #e5e6e7;
}
