.Filters {
    border: 1px solid #ccc;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
}

.left {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    align-items: center;
}

.right {
    display: flex;
    gap: 10px;
    padding-right: 10px;
    align-items: center;
}

.hot {
    color: #0079d3;
    display: flex;
    align-items: center;
    background-color: #f6f7f8;
    gap: 5px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}

.hot:hover {
    background-color: #e5e6e7;
}

.country-menu {
    background-color: white;
    height: 30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: top;
}

.country-menu-button-visible {
    color: #0079d3;
    min-height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #f6f7f8;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 14px;
}

.country-list {
    border: 1px solid #edeff1;
    background-color: white;
    z-index: 2;
    display: none;
    flex-direction: column;
    border-radius: 4px;
    max-height: 225px;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
    position: absolute;
    margin-top: 30px;
}

.country-list button {
    background-color: white;
    text-align: left;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #878a8c;
}

.country-list button:hover {
    background-color: #e9f6fd;
    color: #1c1c1c;
}

#united-states {
    color: #0079d3;
}

.state-menu {
    background-color: white;
    height: 30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: top;
}

.state-menu-button-visible {
    color: #0079d3;
    min-height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #f6f7f8;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 14px;
}

.state-list {
    border: 1px solid #edeff1;
    background-color: white;
    z-index: 2;
    display: none;
    flex-direction: column;
    border-radius: 4px;
    max-height: 225px;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
    position: absolute;
    margin-top: 30px;
}

.state-list button {
    background-color: white;
    text-align: left;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #878a8c;
}

.state-list button:hover {
    background-color: #e9f6fd;
    color: #1c1c1c;
}

#All {
    color: #0079d3;
}

.new {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #878a8c;
    height: 30px;
    border-radius: 15px;
    padding-left: 7px;
    padding-right: 7px;
}

.new:hover {
    background-color: #e5e6e7;
}

.top {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #878a8c;
    height: 30px;
    border-radius: 15px;
    padding-left: 7px;
    padding-right: 7px;
}

.top:hover {
    background-color: #e5e6e7;
}

.extra-menu {
    display: flex;
    align-items: flex-start;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    flex-direction: column;
    justify-content: top;
}

.dots {
    color: #878a8c;
    min-height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
}

.dots:hover {
    background-color: #f6f7f8;
}

.dots-dropdown {
    border: 1px solid #edeff1;
    background-color: white;
    z-index: 2;
    display: none;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
    position: absolute;
    margin-top: 30px;
}

.dots-dropdown button {
    background-color: white;
    text-align: left;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #878a8c;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dots-dropdown button:hover {
    background-color: #e9f6fd;
    color: #1c1c1c;
}

.view {
    display: flex;
    align-items: flex-start;
    color: #878a8c;
    height: 30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    flex-direction: column;
    justify-content: top;
}

.view-button {
    color: #878a8c;
    min-height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
}

.view-button:hover {
    background-color: #f6f7f8;
}

.view-dropdown {
    border: 1px solid #edeff1;
    background-color: white;
    z-index: 2;
    display: none;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
    position: absolute;
    margin-top: 30px;
}

.view-dropdown button {
    background-color: white;
    text-align: left;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #878a8c;
    display: flex;
    align-items: center;
    gap: 5px;
}

.view-dropdown button:hover {
    background-color: #e9f6fd;
    color: #1c1c1c;
}

#card {
    color: #0079d3;
}